body,html
  font-weight: 200
  font-family: PingFangSC

h2,h3
	font-family: PingFangSC
	font-size: 300
  
li
  list-style-type :none

.clearfix
  display: inline-block
  margin-left: 3.5em
   
.has-danger
   border: 1px solid red
  
// 通栏页面的样式
.flex-container
	input
		border: 0
		box-shadow: 0 0
		border-bottom: 1px solid #f1f1f1
		font-size: 20px
		
.top-bar
	position: fixed
	top: 80px
	left: 0
	height: auto
	width: 100%
	background-color: #fff
	z-index: 666

.btn-bar
	align-self: center
	
.capital
	font-family: PingFangSC-Light
	font-weight: 100
	color: black
	font-size: 20px
	position: absolute
	top: 0
	line-height: 93.3px
	span
		color: #AFAFAF
		
.info
	margin-top: 193.3px
	z-index: -1
	
.settings
	display: flex
	flex-direction: column
	justify-content: center
	align-items: flex-start
	height: 93.3px
	
.item
	margin-left:20px
	margin-right:20px
	height:38.7px
	width:112px
	line-height: 38.7px
	padding:0
	
.item:hover
	cursor: pointer
	
.flex-container
	width: 100%
	margin: 0
	height: 60px
	padding-left: 13.3px
	display: flex
	flex-wrap: nowrap
	align-items: baseline
	
.control-label
	width: auto
	flex-grow: none
	font-family: PingFangSC
	font-size: 20px
	color: #AFAFAF
	font-weight: 100
	
.input-bar
	flex-grow: 1

.form-flex-container
	display: flex
	flex-direction: row
	flex-wrap: wrap
	
.form-item
	width: 50%
	
.form-item:nth-of-type(odd) 
	.input-bar
		padding-right: 52.3px
	
.baseinfo
	height: 194px

.datainfo, connectinfo
	height: auto

.test-btn
	width: 100%
	border: none
	background-color: transparent
	color: #109EFC
	font-size: 20px
	line-height: 68px
	border-bottom: 1px solid #f1f1f1

.input-btn
	margin: 1em
.info .form-horizontal .form-group
	margin-right: 0
	margin-left: 0

h3
	font-size: 20px
	line-height: 60px
	border-bottom: 1px solid #f1f1f1
	margin-bottom: 15px
	font-weight: 300


// 通栏页面的样式end



// custom 零碎样式
.custom-cursor-pointer

	cursor:pointer

